:root {
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Ondo;
  src: url("ondo-demo-medium/JAM\ Type\ Design\ -\ Ondo\ DEMO\ Medium.otf");
}
@font-face {
  font-family: Lato;
  src: url("Lato/Lato-Regular.ttf");
}
body {
  position: relative;
  background: #000;

  height: 97vh;
  overflow-x: hidden;
}
#main {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  padding: 5vh 6vw;
  grid-template-columns: 1fr 1fr;
  height: 98vh;
}
.headset {
  max-width: 45vmax;
}
.title-box {
  width: 45vmax;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  color: #fff;
  font-family: Ondo;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 800;
  line-height: 110.6%;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.gradient-text {
  background: linear-gradient(
    41deg,
    rgba(99, 69, 245, 1) 0%,
    rgba(161, 1, 137, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  margin-top: 2rem;
  color: #fff;
  font-family: Lato;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.749px;
  line-height: 120%;
}
.btn {
  margin-top: 1.5rem;

  padding: 5px 10px;
  width: 15rem;
  color: #fff;
  font-family: Ondo;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;

  background: linear-gradient(41deg, rgb(45, 6, 242) 0%, rgb(211, 3, 180) 100%);
  clip-path: polygon(9% 0, 100% 0%, 91% 98%, 0% 100%);
  transition: all ease 0.5s;
}
.btn:hover{
  letter-spacing: 1.5px;
  
}
p {
  margin-top: 1.5rem;
  color: white;
  font-family: lato;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 120%;
  background: linear-gradient(
    55deg,
    rgb(252, 94, 231) 0%,
    rgb(4, 230, 241) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ellipse1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #dd00b8;
  filter: blur(200px);
  width: 20vmax;
  min-width: 100px;
  min-height: 100px;
  height: 20vmax;z-index: -1;
}
.ellipse2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #030fed;
  filter: blur(200px);
  width: 20vmax;
  min-width: 100px;
  min-height: 100px;
  height: 20vmax;z-index: -1;
}
@media (max-width: 1050px){
  html {
    font-size: 12px;
  }
  p{
    font-size: 14px;
  }
}
@media (max-width: 680px) {
  .ellipse1{
  filter: blur(110px);

  }
  .ellipse2{
    filter: blur(110px);
  
    }
  html {
    font-size: 10px;
  }
  #main {
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
  .subtitle {
    font-size: 16px;
    text-align: center;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
  .title-box {
    margin-top: 2rem;
    align-items: center;
  }
}
